<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip" version="1.13.3" targetFramework="net452" />
  <package id="jenkinsnet" version="1.0.4" targetFramework="net452" />
  <package id="JenkinsWebApi" version="2.1.0" targetFramework="net40" requireReinstallation="true" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net40" requireReinstallation="true" />
  <package id="Rebex.Common" version="5.0.7119" targetFramework="net452" />
  <package id="SharpSvn.1.9-x64" version="1.9007.3987.251" targetFramework="net40" />
</packages>